/*Сброс стилей браузера */

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
  
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Конец сбросов стилей браузера */

body {
  background-color: #2D2D2B;
  color: #F6F5F0;
  font-family: 'Courier New', Courier, monospace;
}

/* Стили для header */

header {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    opacity: 1;
    z-index: 10;
    background-color: #2D2D2B;
    border-bottom: 1px solid #F0E4D8;
    font-size: 1.5rem;
    padding-top: 20px;
    padding-bottom: 20px; 
    padding-right: 10px;
}
header ul {
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: end;
    list-style-type: none;  
   
}
header li {
    flex: 1 1 100%;
    max-width: 100%;
    display: inline;
    padding-right: 15px;
}
header a {
  text-decoration: none;
  color: #F6F5F0;
}

/* Конец стилей header */

main {
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  z-index: 1;
  width: 100%;
  margin-top: 6%;
}

section {
  display: block;
  max-width: 100%;
  height: 100%;
  font-size: 2.3rem;
  padding: 1% 5%;
}

#promo {
  height: 100vh;
}

#promo h1 {
  color: #C39E9E;
  font-size: 6.5rem;
  font-family: 'Courier New', Courier, monospace;
  padding-bottom: 4%;
  padding-top: 9%;
}

h2 {
  
  color: #C39E9E;
  font-size: 4rem;
  padding-bottom: 20px;
}

h3 {
  color: #F6F5F0;
  font-size: 3.5rem;
  padding-bottom: 7%;
  padding-top: 3%;
}

p {
  padding-top: 2%;
  padding-bottom: 2%;
  line-height: 3rem;
}

.slider img {
  flex: 0 0 100%;
  max-width: 100%;
}

@media(max-width: 400px) {
  .cont {
    padding-top: 20%;
  }
  .first h1 {
    font-size: 5rem;
  }
  h2 {
    font-size: 3rem;
  }
  .first p {
    font-size: 2rem;
  }
}

@media(min-width: 950px) {
  .text {
    padding-left: 10%;
    padding-right: 10%;
  }
}

:root {
  --carousel-width: 50vw;
  --carousel-height: calc(0.7 * var(--carousel-width));
  --carousel-padding: 5px;
  scroll-behavior: smooth;
}

@media (max-width: 479px) {
  :root {
    --carousel-width: 95vw;
  }
}

.viewport {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.carousel-frame {
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.carousel {
  width: var(--carousel-width);
  height: var(--carousel-height);
}

.scroll {
  display: flex;
  align-items: center;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
}

ul.scroll {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
}

.scroll-item-outer {
  width: 100%;
  height: 100%
}

.scroll-item {
  width: var(--carousel-width);
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
}

@supports (scroll-snap-align: start) {
  /* modern scroll snap points */
  .scroll {
    scroll-snap-type: x mandatory;
  }
  .scroll-item-outer {
    scroll-snap-align: center;
  }
}

@supports not (scroll-snap-align: start) {
  /* old scroll snap points spec */
  .scroll {
    -webkit-scroll-snap-type: mandatory;
            scroll-snap-type: mandatory;
    -webkit-scroll-snap-destination: 0 50%;
            scroll-snap-destination: 0 50%;
    -webkit-scroll-snap-points-x: repeat(100%);
            scroll-snap-points-x: repeat(100%);
  }
  
  .scroll-item-outer {
    scroll-snap-coordinate: 0 0;
  }
}

.indicators {
  display: flex;
  width: 100%;
  justify-content: center;
}

ul.indicators {
  margin: 0;
  padding: 0;
  list-style: none;
}

.indicator {
  padding: 10px;
}

.indicator-button {
  cursor: pointer;
  background: none;
  border: none;
  color: #666;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 0;
}

.indicator-button:after {
  content: '○';
  font-size: 1.4em;
  padding: 12px 15px 17px;
}

.indicator-button:hover {
  color: white;
}

.indicator-button:active {
  color: white;
  padding: 0;
}

.indicator-button[aria-pressed="true"]:after {
  content: '●';
}

#place {
  display: flex;
}

#place img{
  width: 50%;
}

#map {
  width: 100%;
}

#map iframe {
  width: 100%;
  height: 100%;
}

@media (max-width: 800px) {
  #place img{
    width: 100%;
  }
  #place {
    flex-direction: column;
  }
  #map iframe {
    height: 500px;
  }
}